<h1 style="color:red;">ERRROORRRRR!!!!</h1>
<h2 style="color:red;">UH OH, {{ current_user.username }}</h2>

<h4 style="color:#fff;">What could have happened:</h4>
<h4 style="color:#fff;"> ->You entered the wrong Stego Type</h4>
<h4 style="color:#fff;"> ->You entered the wrong LSB Value</h4>
<h4 style="color:#fff;"> ->You entered the wrong File Name</h4>
<h4 style="color:#fff;"> ->You left the file name blank</h4>

<h3 style="color:red;">If it is none of these, please contact Jaspreet (jaspreet099@gmail.com).</h3>

<h2>Go back to some place nice??</h2>
<a href="{{ url_for('home') }}">Yes, take me</a>