<!DOCTYPE html>
<html>
<head>
  
  {% if title %}
    <title>{{ title }}</title>
  {% else %}
    <title>Steganographer</title>
  {% endif %}

  <link rel="stylesheet" type="text/css" href='{{url_for("static", filename="style.css")}}'>
</head>
<body>
  <nav class="zone blue sticky">
      <ul class="main-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="">Button</a></li>
          <li><a href="">Our Team</a></li>
          <li class="push">
              <a href="">Sign-Up</a>
              <a href="">Log-In</a>
            </li>
  </ul>
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />
    
    <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>
    
    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <a href="Dashboard.html"><li>Dashboard</li></a>
      <a href="Profile.html"><li>Profile</li></a>
      <a href="Assessments.html"><li>Assessments</li></a>
      <a href="Attendance.html"><li>Attendance</li></a>
      <a href="Grades.html"><li>Grades</li></a>
      <a href="#"><li>TimeTable</li></a>
      <a href="#"><li>Events</li></a>
      <a href="#"><li>Documents</li></a>
    </ul>
  </div>
  </nav>






  <div class="sec_container">
    <img class="sec_cover" src="{{url_for('static', filename='img/cover1.jpg')}}" alt="About Image">
    <div class="sec_coverText">
      <h1>Welcome, User</h1>
    </div>
  </div>

  <div class="zone blue grid-wrapper">
      <div class="card zone">
          <img src="{{url_for('static', filename='img/DS.jpg')}}" alt="About Image">
          <div class="text">
              <h1>Data Structures</h1>
              <p>Subject code: CSN102</p>
              <p>Teacher: Mayank</p>
              <button>Grade</button>
              <button>Attendance</button>
          </div>
      </div>
    <div class="card zone">
      <img src="{{url_for('static', filename='img/DELD.jpg')}}" alt="About Image">
        <div class="text">
            <h1>Digital Electronics and Logic Design</h1>
            <p>Subject code: CSN103</p>  
            <p>Teacher: Rajni Sethi</p>
            <button>Grade</button>
            <button>Attendance</button>
        </div>
    </div>
    <div class="card zone">
      <img src="{{url_for('static', filename='img/ECE.jpg')}}" alt="About Image">
        <div class="text">
            <h1>Introduction to Electronics</h1>
            <p>Subject code: ESC205</p>  
            <p>Teacher: Kumar</p>
            <button>Grade</button>
            <button>Attendance</button>
        </div>
    </div>

    <div class="card zone">
      <img src="{{url_for('static', filename='img/MATH.jpg')}}" alt="About Image">
        <div class="text">
            <h1>Mathematics</h1>
            <p>Subject code: MAN105</p>  
            <p>Teacher: xyz</p>
            <button>Grade</button>
            <button>Attendance</button>
        </div>
    </div>

    <div class="card zone">
      <img src="{{url_for('static', filename='img/EVS.png')}}" alt="About Image">
        <div class="text">
            <h1>Environmental Sciences</h1>
            <p>Subject code: GSC101</p>  
            <p>Teacher: abc</p>
            <button>Grade</button>
            <button>Attendance</button>
        </div>
    </div>

    <div class="card zone">
      <img src="{{url_for('static', filename='img/ETHICS.jpg')}}" alt="About Image">
        <div class="text">
            <h1>Ethics and Self Awareness</h1>
            <p>Subject code: HSS101</p>  
            <p>Teacher: pqr</p>
            <button>Grade</button>
            <button>Attendance</button>
        </div>
    </div>

  </div>
  <footer class="zone"><p>Created by: Jaspreet | Dhruv | Vernie</p></footer>
</div>
</body>
</html>


<script>
    function myFunction() {
      var x = document.getElementById("demo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
    </script>